<h1>Individual Doctor Details</h1>

<h4>
  Name: <%= @doctor.name %>
</h4>

<p>
  Age: <%= @doctor.age %>
</p>

<p>
  List of patients:
</p>

<ul>
  <% @doctor.find_unique_patients.each do |patient| %>
    <li>
      <%= link_to patient.name, patient_path(patient) %>
    </li>
  <% end %>
</ul>

<p>
  List of appointments:
</p>

<ul>
  <% @doctor.appointments.each do |appointment| %>
    <li>
      <%= appointment.date_and_time.strftime("%A, %B %e, %Y at %l:%M%P") %> with <%= appointment.patient.name %>
    </li>
  <% end %>
</ul>

<hr>

<%= link_to 'Show all Doctors', doctors_path %>